@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --background-dark:#0A0A0F;
    --secondary-color:#171722;
    --primary-text:#EAEAEA;
    --secondary-text:#BDBDBD;
    --primary-color:#FF1E8A;
    --hover-color:#D41470;
    --alert-color:#FF4D4D;
    --success-color:#4DFF4D;
    --apoio-color:#5C1EFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-dark);
    color: var(--primary-text);
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: var(--primary-text);
}

header{
    background-color: var(--secondary-color);
    padding: 1rem 0;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 20px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu ul li a{
    text-decoration: none;
    color: var(--primary-text);
    transition: .3s ease-in-out;
}

.menu ul li a:hover{
    color: var(--primary-color);
}

.cta-button{
    background-color: var(--primary-color);
    color: var(--primary-text);
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.cta-button:hover{
    background-color: var(--hover-color);
}

.hero{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem 0;
    height: 85vh;
    overflow: hidden;
    border-bottom: 1px solid var(--primary-color);
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.4rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.hero-text p{
    font-size: 1.2rem;
    color: var(--secondary-text);
}
.social-icons{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--primary-text);
}

.social-icons a{
    border: 1px solid var(--primary-color);
    padding: .4rem;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: .3s ease-in-out;
}

.social-icons a:hover{
    background-color: var(--primary-color);
    color: var(--primary-text);
}

.hero-text .cta-button {
    margin-top: 1rem;
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.9rem 1.5rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: linear-gradient(135deg, #FF1E8A, #D41470); /* magenta vibrante */
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(255, 30, 138, 0.5);
    transition: all 0.3s ease-in-out;
}

.hero-text .cta-button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #FF3C9E, #FF1E8A);
    box-shadow: 0 0 30px rgba(255, 30, 138, 0.8);
}

.hero-text .cta-button:active {
    transform: scale(0.97);
    box-shadow: 0 0 10px rgba(255, 30, 138, 0.6);
}


@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hero-image{
    background: linear-gradient(to right,var(--alert-color), var(--primary-color), var(--alert-color));
    animation: fade-in 1s ease-in-out;
    height: 500px;
    border-radius: 50%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image img{
    width: 400px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-me-box{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem 0;
}
.about-me-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.about-me-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-box h2{
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.about-me-box p{
    font-size: 1.2rem;
    color: var(--secondary-text);
}


.habilities-box{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.habilities-box h2{
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.habilities-box .hability{
    font-size: 1.2rem;
    color: var(--secondary-text);
}

.habilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.hability{
    border: 1px solid var(--primary-color);
    padding: .4rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: .3s ease-in-out;
}

.hability:hover{
    background-color: var(--primary-color);
    color: var(--primary-text);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
}

.services-box{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.services-box h2{
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.services a{
    display: flex;
    justify-content: center;
}

.service{
    width: 450px;
    height: auto;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.service:hover{
    background-color: var(--primary-color);
    color: var(--primary-text);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
}

.service-image{
    width: 250px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.service-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.projects-box{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.projects-box h2{
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project{
    width: 450px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    transition: .3s ease-in-out;
}

.project:hover{
    background-color: var(--primary-color);
    color: var(--primary-text);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
}
.project-image{
    width: 300px;
    height: auto;
    border-radius: 12px;
}
.project-image img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.project h3{
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--hover-color), var(--primary-color)); /* alerta → cor principal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores que suportam padrão */
}

.project p{
    color: var(--secondary-text);
    text-align: center;
}

.project a{
    text-decoration: none;
    color: var(--primary-color);
    transition: .3s ease-in-out;
}

.project a:hover{
    color: var(--primary-text);
}

footer{
    border-top: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-text);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

/* ========================= */
/* RESPONSIVIDADE BÁSICA     */
/* ========================= */

@media screen and (max-width: 1200px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 3rem 1rem;
        gap: 2rem;
    }

    .hero-text {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .hero-text .cta-button {
        width: 70%;
    }

    .hero-image {
        width: 350px;
        height: 350px;
    }

    .hero-image img {
        width: 300px;
        height: 380px;
        object-fit: cover;
    }

    header .title {
        font-size: 1.3rem;
    }

    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .services .service,
    .projects .project {
        width: 90%;
    }

    .service-image,
    .project-image {
        width: 100%;
        height: 250px;
    }

    .habilities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .hability {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    header .title {
        margin-left: 0;
        font-size: 1.2rem;
    }
    

    .menu ul {
        display:none;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 0.95rem;
    }

    .hero-image {
        width: 250px;
        height: 250px;
    }

    .hero-image img {
        width: 200px;
    }

    .hero-text .cta-button {
        width: 90%;
        font-size: 0.95rem;
        padding: 0.8rem 1rem;
    }

    .habilities {
        gap: 0.5rem;
    }

    .hability {
        font-size: 1rem;
        padding: 0.3rem;
    }
}

